{% extends "base.html" %}

{% block content %}

<div class="h-[90vh] w-full grid place-content-center">

    {% if user.is_authenticated %}

    {% if customers %}

    <div class="flex flex-col">
        <div class="-m-1.5 overflow-x-auto">
            <div class="p-1.5 min-w-full inline-block align-middle">
            <div class="border rounded-lg overflow-hidden">
                <table class="min-w-full divide-y divide-gray-200">
                <thead class="bg-zinc-100">
                    <tr>
                        <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">First name</th>
                        <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Last name</th>
                        <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Email</th>
                        <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Phone</th>
                        <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">City</th>
                        <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Country</th>
                        <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Actions</th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-200">
                    {% for customer in customers%}
                        <tr class="hover:bg-zinc-100 cursor-pointer">
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">{{ customer.firstName }}</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 ">{{ customer.lastName }}</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 ">{{ customer.email }}</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 ">{{ customer.phone }}</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 ">{{ customer.city }}</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 ">{{ customer.country }}</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 ">
                                <a class="font-semibold underline" href="{% url "customer" customer.id %}">
                                   Edit
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% else %}

    <form action="{% url "home" %}" method="POST" class="w-72 flex flex-col gap-y-5">

    {% csrf_token %} 

    <h2 class="text-2xl font-bold text-center text-zinc-800">Log In</h2>
        <input required type="text" name="username" id="username"
            class="block w-full rounded-md border-0 py-2 px-4 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 outline-none focus:ring-inset focus:ring-emerald-500 sm:text-sm sm:leading-6"
            placeholder="Username">
        <input required type="password" name="passwd" id="passwd"
            class="block w-full rounded-md border-0 py-2 px-4 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 outline-none focus:ring-inset focus:ring-emerald-500 sm:text-sm sm:leading-6"
            placeholder="Password">
        <button class="bg-emerald-500 hover:bg-emerald-600  text-white py-2 rounded-md">Continue</button>
        <p class="text-center text-sm text-zinc-400">Your data is secure, trust me</p>
    </form>
</div>

{% endif %}

{% endblock %}